:root {
  --main-bg-color: rgb(255, 255, 255);
  --main-color: rgb(0, 0, 0);
  --main-grid-color: rgb(175, 216, 248);
}

html {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  height: 100%;
  margin: 0;
}

html.dark-theme {
  --main-bg-color: black;
  --main-color: rgb(255, 255, 255);
  --main-grid-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex: none;
  padding: 1rem;
}

h1 {
  margin: 0;
}

button {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

button:active {
  transform: translateY(2px);;
}

#info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.label img {
  height: 1.5rem;
  width: 1.5rem;
}

.label p {
  margin: 0;
  font-size: 1.5rem;
}

.color {
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid var(--main-grid-color);
}

#unvisited-label {
  background-color: rgb(255, 255, 255);
}

#visited-label {
  background-color: rgba(0, 190, 218, 0.75);
}

#shortest-path-label {
  background-color: rgb(255, 254, 106);
}

#obstacle-label {
  background-color: rgb(52, 73, 94);
}

#table-container {
  flex: auto;
}

table {
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse;
  margin: 1rem;
}

td {
  height: 25px;
  width: 25px;
  border: 1px solid var(--main-grid-color);
  padding: 0;
  will-change: contents;
}

.obstacle {
  background-color: rgb(52, 73, 94);
  cursor: pointer;
  animation: placeIn 0.2s ease-in-out;
}

.unvisited {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.visited {
  animation: fadeIn 2s ease-out;
  background-color: rgba(0, 190, 218, 0.75);
}

.visited-instant {
  background-color: rgba(0, 190, 218, 0.75);
}

.path {
  background-color: rgb(255, 254, 106);
}

.path-instant {
  background-color: rgb(255, 254, 106);
}

.start {
  background-image: url("start.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  animation: placeEnd 0.2s ease-in-out;
}

.goal {
  background-image: url("target.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  animation: placeEnd 0.2s ease-in-out;
}

@keyframes placeEnd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }

}

@keyframes placeIn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }
  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75)
  }
  100% {
    transform: scale(1.0);
    background-color: rgba(0, 190, 218, 0.75);
  }
}