body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid black;
  border-radius: 5px;
  border-collapse: collapse 
}

td {
  height: 1rem;
  width: 1rem;
  border: 1px solid black;
}

.obstacle {
  background-color: red;
}

.start {
  background-color: orange;
}

.goal {
  background-color: green;
}

.empty {
  background-color: dodgerblue;
}

.guess {
  background-color: yellow;
}

.found {
  background-color: lime;
}

.path {
  background-color: purple;
}